In [13]:
import mysql.connector as connector

try:

    config = {
        'user': 'root',
        'password': 'P@ssw0rd123!',
        'host': 'localhost',
        'database': 'LittleLemonDB'
    }
    connection = connector.connect(**config)

    if connection.is_connected():
        
        cursor = connection.cursor()

        show_table_query = "SHOW TABLES"
        cursor.execute(show_table_query)
        results = cursor.fetchall()
        column_names = [desc[0] for desc in cursor.description]
        print(column_names)
        for table in results:
            print(f"{table[0]}")
            
        print(f"Total: {len(results)} Tables")

        join_query = """
            SELECT c.FullName, c.PhoneNumber, c.Email, o.TotalCost
            FROM Customers c
            INNER JOIN Orders o ON c.CustomerID = o.CustomerID
            WHERE o.TotalCost > 60;
        """
        cursor.execute(join_query)
        results = cursor.fetchall()
        
        column_names = [desc[0] for desc in cursor.description]
        print(column_names)
        for row in results:
            name = row[0]
            phone = row[1]
            email = row[2]
            bill = row[3]
            print(f"{name} {phone} {email} {bill}")

except connector.Error as error:
    print(f"Database Error: {error}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Database connection is closed!")

['Tables_in_LittleLemonDB']
Bookings
Customers
Menu
MenuItems
OrderDeliveryStatus
Orders
OrdersView
Staff
Total: 8 Tables
['FullName', 'PhoneNumber', 'Email', 'TotalCost']
John Smith 555-0101 john.smith@email.com 660.00
Maria Garcia 555-0102 maria.g@email.com 190.00
James Johnson 555-0103 james.j@email.com 750.00
Emily Davis 555-0104 emily.d@email.com 720.00
Michael Brown 555-0105 michael.b@email.com 615.00
Sarah Wilson 555-0106 sarah.w@email.com 440.00
David Martinez 555-0107 david.m@email.com 570.00
Lisa Anderson 555-0108 lisa.a@email.com 600.00
Robert Taylor 555-0109 robert.t@email.com 540.00
Jennifer Lee 555-0110 jennifer.l@email.com 1025.00
John Smith 555-0101 john.smith@email.com 440.00
Maria Garcia 555-0102 maria.g@email.com 380.00
James Johnson 555-0103 james.j@email.com 450.00
Emily Davis 555-0104 emily.d@email.com 900.00
Michael Brown 555-0105 michael.b@email.com 410.00
Sarah Wilson 555-0106 sarah.w@email.com 1320.00
David Martinez 555-0107 david.m@email.com 285.00
Lisa Anderson 555-0108 lisa.a@email.com 600.00
Robert Taylor 555-0109 robert.t@email.com 360.00
Jennifer Lee 555-0110 jennifer.l@email.com 1025.00
John Smith 555-0101 john.smith@email.com 660.00
Maria Garcia 555-0102 maria.g@email.com 190.00
James Johnson 555-0103 james.j@email.com 600.00
Emily Davis 555-0104 emily.d@email.com 540.00
Michael Brown 555-0105 michael.b@email.com 1230.00
Sarah Wilson 555-0106 sarah.w@email.com 440.00
David Martinez 555-0107 david.m@email.com 475.00
Lisa Anderson 555-0108 lisa.a@email.com 450.00
Robert Taylor 555-0109 robert.t@email.com 720.00
Jennifer Lee 555-0110 jennifer.l@email.com 410.00
John Smith 555-0101 john.smith@email.com 880.00
Maria Garcia 555-0102 maria.g@email.com 285.00
James Johnson 555-0103 james.j@email.com 750.00
Emily Davis 555-0104 emily.d@email.com 360.00
Michael Brown 555-0105 michael.b@email.com 820.00
Sarah Wilson 555-0106 sarah.w@email.com 660.00
David Martinez 555-0107 david.m@email.com 570.00
Lisa Anderson 555-0108 lisa.a@email.com 300.00
Robert Taylor 555-0109 robert.t@email.com 900.00
Jennifer Lee 555-0110 jennifer.l@email.com 615.00
John Smith 555-0101 john.smith@email.com 440.00
Maria Garcia 555-0102 maria.g@email.com 380.00
James Johnson 555-0103 james.j@email.com 450.00
Emily Davis 555-0104 emily.d@email.com 900.00
Michael Brown 555-0105 michael.b@email.com 410.00
Sarah Wilson 555-0106 sarah.w@email.com 1320.00
David Martinez 555-0107 david.m@email.com 285.00
Lisa Anderson 555-0108 lisa.a@email.com 600.00
Robert Taylor 555-0109 robert.t@email.com 360.00
Jennifer Lee 555-0110 jennifer.l@email.com 1025.00
Database connection is closed!